body{
  background: #262626;
}

.header{
    text-align: center; 
    background-color: #262626;
}

.cell{
    background-color: #FFFFFF;
    height: 26px;
    width: 26px; 
    float: left;
}

.gridButton{
    padding: 20px; 
    margin: 10px;
}

#container{
    background-color: #FFFFFF;
    width: 416px; 
    height: 416px;
    border: 1px solid black; 
    margin: 0 auto;
}

